.ideaInfo {
  width: fit-content;
  background-color: var(--white);
  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    margin-bottom: 2%;
  }
  .description {
    margin-left: 15px;
    font-size: 20px;
    font-family: var(--font-family-title);
    text-transform: capitalize;
    span {
      margin-left: 5px;
      font-size: 18px;
      font-family: var(--font-family-description);
    }
  }
  .ant-btn-primary {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 8px 0px 8px 0px;
    margin-top:15px ;
    height: fit-content;
    text-align: center;
    width: 48%;
    font-size: 20px;
    font-family: var(--font-family-button);
    .icon {
      transform: rotate(270deg);
      margin-right: 10px;
    }
  }
}
