.ant-modal-content{
    border: 3.25px solid var(--primary-color);
    border-radius: 16px;
    .ant-modal-header{
        border-radius: 16px;
        border-bottom: none;
        text-align: center;
    }
    .ant-modal-body{

    }
    .ant-modal-footer{

    }
}