.signUp {
  .fixing-footer {
    // border: 1px solid red;
    bottom: 0;
    width: 100%;
    margin-left: 400px;
  }
  .main-container {
    margin: auto;
    width: 80%;
    margin-top: 50px;
    border: 1px solid lightgray;
    border-radius: 16px;

    margin-bottom: 300px;
  }
  .details-heading {
    font-size: 20px;
    font-weight: 400;
    padding: 20.5px 0px 30px 7.5px;
    border-bottom: 1px solid lightgray;
  }
  .getting-input-container {
    padding-top: 20px;
    margin: 48px 27.5px 115.5px 43px;
    border-radius: 16px;
    padding-left: 100px;
    background-color: #e5e5e5;
  }
  .setting-input-size {
    width: 300px;
  }
  .form-instruction {
    text-align: center;
  }
  .buttons {
    margin-top: 20px;
    margin-left: 250px;
    Button {
      margin-left: 50px;
    }
  }

  Input {
    border-radius: 10px;
  }
}
