.Viewprofileblock{
    background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    // margin-top: 1%;
    width:90%;
    margin-top: -2%;
    height:50vh;
    border-color: var(--textbox-border);
    .profile4{
        position: relative;
        left:900px;
        top:-1130px;
        background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    margin-left: 1%;
    // margin-top: 1%;
    width:20%;
    margin-top: -2%;
    height:50vh;
    border-color: var(--textbox-border);
    .profile4greyblock{
        background-color: var(--gray);
    border-radius: 8px;
    margin:3%;
    margin-left: 0%;
    // margin-top: 1%;
    width:100%;
    margin-top: -2%;
    height:18vh;
    border-color: var(--textbox-border);

    }
    
    .viewprofile3btn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 27%;
        text-align: center;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .profile4name{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile4email{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile4industry{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    }
    .profile3{
        position: relative;
        left:600px;
        top:-753px;
        background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    margin-left: 1%;
    // margin-top: 1%;
    width:20%;
    margin-top: -2%;
    height:50vh;
    border-color: var(--textbox-border);
    .profile3greyblock{
        background-color: var(--gray);
    border-radius: 8px;
    margin:3%;
    margin-left: 0%;
    // margin-top: 1%;
    width:100%;
    margin-top: -2%;
    height:18vh;
    border-color: var(--textbox-border);

    }
    
    .viewprofile3btn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 27%;
        text-align: center;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .profile3name{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile3email{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile3industry{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    }
    .profile2{
        position: relative;
        left:300px;
        top:-377px;
        background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    margin-left: 1%;
    // margin-top: 1%;
    width:20%;
    margin-top: -2%;
    height:50vh;
    border-color: var(--textbox-border);
    .profile2greyblock{
        background-color: var(--gray);
    border-radius: 8px;
    margin:3%;
    margin-left: 0%;
    // margin-top: 1%;
    width:100%;
    margin-top: -2%;
    height:18vh;
    border-color: var(--textbox-border);

    }
    .viewprofilebtn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 15%;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .profile2name{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile2email{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile2industry{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    }
    .profile1{
        
        background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    margin-left: 1%;
    // margin-top: 1%;
    width:20%;
    margin-top: -2%;
    height:50vh;
    border-color: var(--textbox-border);
    .profile1greyblock{
        background-color: var(--gray);
    border-radius: 8px;
    margin:3%;
    margin-left: 0%;
    // margin-top: 1%;
    width:100%;
    margin-top: -2%;
    height:18vh;
    border-color: var(--textbox-border);

    }
    .addbtn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 15%;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .viewprofilebtn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 15%;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .profile1name{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile1email{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile1industry{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }

    }
}
.addfriendblock{
    background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    // margin-top: 1%;
    width:90%;
    margin-top: -2%;
    height:61vh;
    border-color: var(--textbox-border);
    .heading{
        font-size: 20px;
        font-family: var(--font-family-roboto);
        text-align: center;
        padding-top: 2%;
    }
    .horizontalrow{
        color: red;
        // width: 2px;
    }
     .profile1{
        
        background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    margin-left: 1%;
    // margin-top: 1%;
    width:20%;
    position: relative;
    // top:50px;
    margin-top: 1%;
    height:50vh;
    border-color: var(--textbox-border);
    .profile1greyblock{
        background-color: var(--gray);
    border-radius: 8px;
    margin:3%;
    margin-left: 0%;
    // margin-top: 1%;
    width:100%;
    margin-top: -2.1%;
    height:18vh;
    border-color: var(--textbox-border);

    }
    .addbtn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 15%;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .viewprofilebtn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 15%;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .profile1name{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile1email{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile1industry{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }

    }
    .profile2{
        position: relative;
        left:300px;
        top:-377px;
        background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    margin-left: 1%;
    // margin-top: 1%;
    width:20%;
    margin-top: -2.1%;
    height:50vh;
    border-color: var(--textbox-border);
    .profile2greyblock{
        background-color: var(--gray);
    border-radius: 8px;
    margin:3%;
    margin-left: 0%;
    // margin-top: 1%;
    width:100%;
    margin-top: -2%;
    height:18vh;
    border-color: var(--textbox-border);

    }
    .addbtn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 15%;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
}
    .viewprofilebtn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 15%;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .profile2name{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile2email{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile2industry{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    }
    .profile3{
        position: relative;
        left:600px;
        top:-753px;
        background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    margin-left: 1%;
    // margin-top: 1%;
    width:20%;
    margin-top: -2%;
    height:50vh;
    border-color: var(--textbox-border);
    .profile3greyblock{
        background-color: var(--gray);
    border-radius: 8px;
    margin:3%;
    margin-left: 0%;
    // margin-top: 1%;
    width:100%;
    margin-top: -2%;
    height:18vh;
    border-color: var(--textbox-border);

    }
        .addbtn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 27%;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
}
    .viewprofile3btn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 27%;
        text-align: center;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .profile3name{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile3email{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile3industry{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    }
    .profile4{
        position: relative;
        left:900px;
        top:-1130px;
        background-color: var(--white);
    border-radius: 8px;
    margin:3%;
    margin-left: 1%;
    // margin-top: 1%;
    width:20%;
    margin-top: -2%;
    height:50vh;
    border-color: var(--textbox-border);
    .profile4greyblock{
        background-color: var(--gray);
    border-radius: 8px;
    margin:3%;
    margin-left: 0%;
    // margin-top: 1%;
    width:100%;
    margin-top: -2%;
    height:18vh;
    border-color: var(--textbox-border);

    }
           .addbtn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 27%;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
}
    .viewprofile3btn{
        border-radius: 8px;
        border-color: var(--textbox-border);
        margin-left: 0%;
        font-size: 17px;
        margin-top: 27%;
        text-align: center;
        width:100%;
           &:hover{
            border-color: var(--primary-color);
        }
        &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 4px var(--textbox-shadow);
    }
    }
    .profile4name{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile4email{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    .profile4industry{
        cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 17px;
    color: var(--placeholoder-color);
    margin-left: 5%;
    }
    }
}