

:root{
    /* Colors */
    --primary-color: #5C7AEA;
    --layout-background: #f2f2f2;
    --white: #fff;
    
    /* Fonts */
    --font-family-logo:  'M PLUS Rounded 1c', sans-serif;
    --font-family-sidebar: 'Source Sans 3', sans-serif;
}