.site-layout .site-layout-background {
    background: #fff;
  }
  
  
  .Project-heading{
     
      margin: 15px 15px 20px 10px;
      background-color: #fff;
      border-radius: 16px;
      padding-left: 20px;
      font-weight: 400;
      padding-bottom: 10px;

      Button{
          float: right;
         margin-top: 15px;
         margin-right: 10px;
         border-radius: 16px;
          display: inline-block;
      }
  }  
  .title{
      display: inline-block;
  }

  .project-container{
      display: flex;
      margin:15px 15px 20px 10px ;
      justify-content: space-between;
  }
  .project-description{
      width: 55%;
      padding: 20px;

  background-color: #fff;
  border-radius: 16px;
  
    }
    .project-tracking{
        width: 35%;
        height: 100%;
        margin-left:20px;
       
       
    }

    .title-of-page{
        color: black;
        font-size: 20px;
        font-weight: 400;
    }
    .tasks{
      
        img{
            height: 40px;
            width: 40px;
        }
        .specific-task{
          
            display: inline-block;
            margin-left: 20px;
            margin-top: 10px;
        }
    }

    .project-status{
        background-color: #fff;
        padding: 20px 0px 20px 20px;
        border-radius: 16px;
        
    }
    .members-list{
        text-align: left;
        background-color: #fff;
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        border-radius: 16px;
        margin-top: 20px;
        justify-content: space-evenly;
    }
    .member-images{
        
        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
    }
    .member-heading{
    // display: block;
    width: 100%;
    }

    .Services-list{
        text-align: left;
        background-color: #fff;
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        border-radius: 16px;
        margin-top: 20px;
        justify-content: space-evenly;
    }
    .Service-images{
        
        img{
            height: 30px;
            width: 30px;
            border-radius: 8px;
        }
    }
    .Service-heading{
    display: block;
    width: 100%;
    }
    .total-work-items{
    display: flex;
        justify-content: space-evenly;
    }
    .work-items{
padding: 20px;
background-color: #fff;
border-radius: 8px;
        img{
            height: 35px;
            width: 35px;
        }
        .work-high-level{
            padding: 10px;
        }
    }

    .work-Items-Heading{
        margin-top: 30px;
        border-bottom: 1px solid gray;
        padding-bottom: 0px;
            ul{
            
            // padding-bottom: 0px;
    list-style: none;
    li{
        display: inline-block;
        margin-left: 30px;
        // padding-bottom: 0px;
    }
    #element-1{
        margin-left: 2px;
 border-bottom: 1px solid blue;
    }
        }
    }

    .specific-task-heading{
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
    }
    .ID-task{
        padding-left: 10px;
        width: 15%;
    }
    .task-name{
        width: 35%
    }
    .type{
        width:  15%
    }
    .assigned-to {
        width: 20%;
    }
    .status{
width: 15%;
    }

    .specific-task-description{
        border-radius: 8px;
        margin: 15px 0px;
        padding-top:6px ;
        height: 7%;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
    }